initialize()
{
    setSeed(23);
    if (!exists("TREES_FILE")) defineGlobal("TREES_FILE", "out.trees"); 
    if (!exists("PEDIGREE_FILE")) defineGlobal("PEDIGREE_FILE", "out.pedigree"); 
    initializeSLiMOptions(keepPedigrees=T);
    initializeTreeSeq(timeUnit="generations");
    initializeMutationRate(1e-2);
    initializeMutationType("m1", 0.5, "f", -0.1);
    initializeGenomicElementType("g1", m1, 1.0);
    initializeGenomicElement(g1, 0, 99);
    initializeRecombinationRate(1e-2);
    defineGlobal("MD", Dictionary());
}

1 early() { 
    sim.addSubpop("p1", 10);
}

// MUTATION/GENOTYPE INFO
1 first() { // mutation information
	MD.setValue("mutations", Dictionary());
}
mutation() {
	muts = MD.getValue("mutations");
	nuc = mut.mutationType.nucleotideBased ? mut.nucleotide else "N";
	m = Dictionary(
		"chromosome_id", mut.chromosome.id,
		"mutationType", mut.mutationType.id,
		"nucleotide", nuc,
		"position", mut.position,
		"originTick", mut.originTick
	);
	muts.setValue(asString(mut.id), m);
	return T;
}
10 late() {
	subs = Dictionary();
	for (mut in sim.substitutions) {
		nuc = mut.mutationType.nucleotideBased ? mut.nucleotide else "N";
		m = Dictionary(
			"chromosome_id", mut.chromosome.id,
			"mutationType", mut.mutationType.id,
			"nucleotide", nuc,
			"position", mut.position,
			"fixationTick", mut.fixationTick
		);
		subs.setValue(asString(mut.id), m);
	}
	MD.setValue("substitutions", subs);
}

// OUTPUT/FINISH
10 late() {
    sim.demandPhenotype(NULL);
    sim.treeSeqOutput(TREES_FILE, metadata=MD);
    catn("Done.");
    sim.simulationFinished();
}

// PEDIGREE OUTPUT
1 first() {
    writeFile(PEDIGREE_FILE,
       paste(c("generation", "stage", "individual", "age", "parent1", "parent2"),
             sep="\t"));
}

1: first() {
    for (pop in sim.subpopulations) {
        for (ind in pop.individuals) {
            age = community.modelType == "nonWF" ? ind.age else -1;
            writeFile(PEDIGREE_FILE,
             paste(c(sim.cycle, community.cycleStage, ind.pedigreeID, age, ind.pedigreeParentIDs),
                   sep='\t'),
             append=T);
        }
    }
}

1: early() {
    for (pop in sim.subpopulations) {
        for (ind in pop.individuals) {
            age = community.modelType == "nonWF" ? ind.age else -1;
            writeFile(PEDIGREE_FILE,
             paste(c(sim.cycle, community.cycleStage, ind.pedigreeID, age, ind.pedigreeParentIDs),
                   sep='\t'),
             append=T);
        }
    }
}

1: late() {
    for (pop in sim.subpopulations) {
        for (ind in pop.individuals) {
            age = community.modelType == "nonWF" ? ind.age else -1;
            writeFile(PEDIGREE_FILE,
             paste(c(sim.cycle, community.cycleStage, ind.pedigreeID, age, ind.pedigreeParentIDs),
                   sep='\t'),
             append=T);
        }
    }
}

