initialize() {
	setSeed(123);
	initializeTreeSeq();
	initializeTrait("mult", "multiplicative", individualOffsetSD=1.0);
	initializeTrait("logistic", "logistic", individualOffsetSD=1.0);
	
	initializeMutationType("m1", NAN, "n", 0.0, 0.01); 
	m1.convertToSubstitution = F; // necessary to disentagle from baseline offset
	
	initializeGenomicElementType("g1", m1, 1.0);
	
	initializeGenomicElement(g1, 0, 9999999);
	initializeRecombinationRate(1e-8);
	initializeMutationRate(1e-7);
}

1 late() {
	sim.addSubpop("p1", 100);
}

1000 late() {
	sim.demandPhenotype(NULL, NULL);
	sim.treeSeqOutput("phenotypes2.trees");
}
